#input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#button {
  width: 5%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#output {
  margin: 16px 0;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 10%;
  }
  